body {
  color: #fff;
  font-family: "Dosis", sans-serif;
}

.search-container {
  position: relative;
}

.form-control {
  border: 2px solid #006ec5;
  border-radius: 0;
  margin: 20px 0 10px 50px;
  padding: 5px 35px;
  max-width: 600px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.icon {
  height: 37px;
  position: absolute;
  top: 0;
  width: 137px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: #006ec5;
}
.fa-magnifying-glass {
  font-size: 16px;
  border: none;
  color: #006ec5;
}
button.fa-solid.fa-magnifying-glass {
  background-color: #fff;
}
button:hover {
  cursor: pointer;
}
.main-container {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 10px 0;
  max-width: 700px;
  padding: 20px 24px;
  background-color: #8ec9f9;
}
.weather-summary {
  margin-left: 20px;
  margin-right: 20px;
}
.city {
  padding-left: 0px;
}
h1 {
  font-size: 32px;
  margin: 0;
  text-transform: capitalize;
}
.fa-location-dot {
  margin-top: 15px;
  font-size: 16px;
  background-color: #8ec9f9;
  border: none;
  color: #fbfdff;
}
.fa-location-dot:hover {
  color: #ea3410;
}

.container-button {
  position: relative;
}
.temperature-etc {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0;
  height: 51px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #8ec9f9;
  color: #fff;
}
a {
  color: #fbfdff;
  text-decoration: none;
}
a:hover {
  color: #006ec5;
}
.active {
  color: #006ec5;
  cursor: default;
  text-decoration: none;
}

.main-thermometer {
  padding-left: 0px;
}
.days {
  margin-top: 10px;
  margin-left: 68px;
  margin: 10px 0 0 68px;
}
.temperatur-feels {
  margin-left: 68px;
}
h2 {
  font-size: 80px;
  margin: 0;
}
#image-weather {
  width: 200px;
  height: 180px;
}
figcaption {
  text-align: center;
}
.main-information {
  padding: 60px 0 0px 40px;
}
li {
  list-style-type: none;
}
.fa-solid {
  padding: 0 10px;
  width: 32px;
  height: 16px;
}
.week {
  padding: 20px 10px;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(#add7fa, #8ec9f9);
}
#weather-icon {
  width: 38px;
  height: 38px;
}
.forecast-temperature-max {
  font-weight: bold;
}
small {
  color: #737478;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.my-name,
.site {
  color: #006ec5;
  text-decoration: none;
}
.my-name:hover {
  color: #ea3410;
}
.site:hover {
  color: #ead110;
}
